<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buying Session Prediction</title>
</head>
<style>
    img {
      width: 90%;
    }
    h2 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    h4 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
</style>
<body>
    
    <center>
        <h2>
            Data Visualization Gallery
        </h2>
        <h4>
            Made in Plotly
        </h4>
        <img src="static/VISITOR.png">
        <img src="static/TRENDS.png">
        <img src="static/SCATTER.png">
    </center>
</body>
</html>