<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buying Session Prediction</title>
</head>
<style>
    h3 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    h5 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    button {text-align: left;}
</style>
<body>
    <h3>
        Use web session information to predict if a visitor will finalize a purchase on an e-Commerce website.
    </h3>
    <h5>
        A ML project by Gabriella Tanubrata
    </h5>
    <br>
    <form action="https://archive.ics.uci.edu/ml/datasets/Online+Shoppers+Purchasing+Intention+Dataset">
        <button type="submit">Dataset source</button>
    </form>
    <br>
    <form method="POST" action="/dataset">
        <button type="submit">View raw dataset</button>
    </form>
    <br>
    <form method="POST" action="/dataviz">
        <button type="submit">Data visualization gallery</button>
    </form>
    <br>
    <form method="POST" action="/feature">
        <button type="submit">Prediction trial</button>
    </form>
</body>
</html>