<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buying Session Prediction</title>
</head>
<body>
    <h2>Successfull!</h2>

    <h3>{{ pred }}</h3>

    <p>Your input: </p>
    <p>Administrative_Duration = {{ data['Administrative_Duration'] }}</p>
    <p>Informational_Duration = {{ data['Informational_Duration'] }}</p>
    <p>ProductRelated_Duration = {{ data['ProductRelated_Duration'] }}</p>
    <p>BounceRates = {{ data['BounceRates'] }}</p>
    <p>PageValues = {{ data['PageValues'] }}</p>
    <p>SpecialDay = {{ data['SpecialDay'] }}</p>
    <p>Month_Mar = {{ data['Month_Mar'] }}</p>
    <p>Month_May = {{ data['Month_May'] }}</p>
    <p>Month_Nov = {{ data['Month_Nov'] }}</p>
    <p>OperatingSystems_3 = {{ data['OperatingSystems_3'] }}</p>
    <p>TrafficType_1 = {{ data['TrafficType_1'] }}</p>
    <p>TrafficType_2 = {{ data['TrafficType_2'] }}</p>
    <p>TrafficType_3 = {{ data['TrafficType_3'] }}</p>
    <p>TrafficType_13 = {{ data['TrafficType_13'] }}</p>
    <p>VisitorType_New_Visitor = {{ data['VisitorType_New_Visitor'] }}</p>
    <p>VisitorType_Returning_Visitor = {{ data['VisitorType_Returning_Visitor'] }}</p>

</body>
</html>